* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*"vw" é a largura do viewport e "vh" é a altura do viewport*/
}

/*medida "em" é relativo ao tamanho do font-size do seu pai, exemplo: pai com "10px de font-size", no filho utiliza-se "1em", que seria equivalente a 10px, "2em" seria "20px"*/
:root {
    --hue:
        /*Caso queira mudar cor do site*/
    ;
    --primary-color: hsla(0, 0%, 100%, 1);
    --headline: hsla(0, 0%, 53%, 1);
    --button-color: hsla(0, 0%, 8%, 1);

    --font-family-1: 'Aileron';
    --font-family-2: 'Space Grotesk';

    --bg-dark: hsla(0, 0%, 8%, 1);

    font-size: 62.5%;
    /* 1rem = 10px*/
    --nav-height: 8.3rem;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {

    font-size: 1.6rem;
    overflow: overlay;
    background: var(--bg-dark);

    /*4.1rem para não ficar colado com o "nav"*/
    padding-top: calc(4.1rem + var(--nav-height));
}

.wrapper {
    /*Guardando o código para ser usado posteriormente*/
    width: min(50rem, 100%);
    ;
    padding-inline: 2.4rem;
    ;
    margin-inline: auto;
    ;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/*===ROTATION================================================================================================*/

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

    /*Ainda não está girando 100% em seu próprio eixo, verificar como colocar o "transform: translateY(0px);" "from/to "*/
}

.logo-square {
    animation: rotation 2.5s linear infinite;
    animation-delay: 0.4s;
    margin-right: 0.4rem;
}

/*===NAVIGATION================================================================================================*/

.logo-square,
.logo-scale {
    display: inline-block;
}


nav {
    display: flex;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    width: 100vw;

    z-index: 100;

    background-color: var(--bg-dark);

    transition-property: background-color;
    transition-duration: 0.5s;

}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll {
    background-color: var(--primary-color);
}

nav.scroll .logo path,
nav.scroll .logo circle {
    stroke: var(--button-color);
}

nav.scroll .logo path {
    fill: var(--button-color);
}

nav.scroll path {
    stroke: var(--button-color);
}



/*===MENU===========================================================*/
.menu {
    display: none;
}